{"openapi":"3.0.0","info":{"title":"Sadq Integration API","description":"API reference for the Sadq e-signature platform","version":"1.0.0","contact":{"url":"https://docs.sadq.sa"}},"servers":[{"url":"https://api.sadq.sa","description":"Production"},{"url":"https://sandbox-api.sadq-sa.com","description":"Sandbox"}],"tags":[{"name":"Authentication","description":"Obtain and manage API access tokens","x-docs-url":"https://docs.sadq.sa/docs/auth"},{"name":"Envelopes","description":"Initiate and manage signing envelopes and document packages","x-docs-url":"https://docs.sadq.sa/docs/envelopes"},{"name":"Invitations","description":"Send, extend, and remind signing invitations","x-docs-url":"https://docs.sadq.sa/docs/invitations"},{"name":"Sign","description":"Direct signing operations including multi-file and templates","x-docs-url":"https://docs.sadq.sa/docs/sign"},{"name":"eSign","description":"Electronic and digital signature operations via Nafath/PKI","x-docs-url":"https://docs.sadq.sa/docs/esign"},{"name":"Documents","description":"Download and manage signed document files","x-docs-url":"https://docs.sadq.sa/docs/documents"},{"name":"Templates","description":"List and retrieve reusable signing templates","x-docs-url":"https://docs.sadq.sa/docs/templates"},{"name":"Users","description":"User management, permissions and signature uploads","x-docs-url":"https://docs.sadq.sa/docs/users"},{"name":"Workflows","description":"Create and manage document signing workflows","x-docs-url":"https://docs.sadq.sa/docs/workflows"},{"name":"Webhooks","description":"Configure and manage webhook subscriptions and logs","x-docs-url":"https://docs.sadq.sa/docs/webhooks"},{"name":"Configuration","description":"Update tenant SMS provider and system configuration","x-docs-url":"https://docs.sadq.sa/docs/configuration"},{"name":"KYB","description":"Know Your Business — CR checks, Absher OTP, delegacy lookups","x-docs-url":"https://docs.sadq.sa/docs/kyb"},{"name":"Archiving & Delegations","description":"File archiving categories and delegation management","x-docs-url":"https://docs.sadq.sa/docs/archiving-delegations"},{"name":"Reports & Requests","description":"Consumption reports, request listings and bulk signature jobs","x-docs-url":"https://docs.sadq.sa/docs/reports-requests"}],"paths":{"/Authentication/Authority/Token":{"post":{"tags":["Authentication"],"summary":"Obtain Access Token","description":"Obtain a JWT Bearer token using Basic Auth. Pass your Client ID as username and Client Secret as password in the Authorization header (Base64-encoded). The body must be form-encoded with grant_type=integration plus user credentials. The returned access_token must be included as a Bearer token in all subsequent API requests.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/auth/post-authentication-authority-token","security":[{"BearerAuth":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object"},"example":{"grant_type":"integration","username":"user@example.com","password":"your-password","accountId":"your-account-id","accountSecret":"your-account-secret"}}}},"responses":{"200":{"description":"Token issued successfully","content":{"application/json":{"example":{"access_token":"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJjbGllbnQtaWQiLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MTcwMDAwMzYwMH0...","token_type":"Bearer","expires_in":3600,"scope":"api"}}}},"401":{"description":"Invalid credentials","content":{"application/json":{"example":{"error":"invalid_client","error_description":"Client authentication failed"}}}}}}},"/api/v1/envelopes/initiate":{"post":{"tags":["Envelopes"],"summary":"Initiate Envelope","description":"Initiate a signature envelope by uploading document files as multipart/form-data. Returns an envelope and Docuemnt ID that can be used in subsequent signing invitation steps.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/envelopes/post-api-v1-envelopes-initiate","security":[{"BearerAuth":[]}],"parameters":[{"name":"FileId","in":"path","required":true,"description":"Optional. Custom file identifier (Guid). If omitted, the system generates one.","schema":{"type":"string"}},{"name":"WebhookId","in":"path","required":true,"description":"Optional. Target a specific webhook instead of the tenant default.","schema":{"type":"string"}},{"name":"WorkflowId","in":"path","required":true,"description":"Optional. Attach the envelope to an existing workflow.","schema":{"type":"string"}},{"name":"ReferenceNumber","in":"path","required":true,"description":"Optional. Your own reference number. If omitted, the system generates one.","schema":{"type":"string"}},{"name":"Password","in":"path","required":true,"description":"Optional. Password to protect the uploaded PDF.","schema":{"type":"string"}},{"name":"IsForExternalWorkFlow","in":"path","required":true,"description":"Optional. Enable External WorkFlow.","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Envelope created successfully","content":{"application/json":{"example":{"data":{"documentId":"d21b710f-bee2-4c0a-a881-0874ca5155ca","envelopeId":"c548792b-9b74-48bb-b4b5-6bbc86c62a2f","destinations":null,"referenceNumber":"contract-i-31157546","creatorFields":null},"errorCode":0,"message":"Success","returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}},"400":{"description":" Bad Request","content":{"application/json":{"example":{"data":{"documentId":"00000000-0000-0000-0000-000000000000","envelopeId":"00000000-0000-0000-0000-000000000000","destinations":null,"referenceNumber":null,"creatorFields":null},"errorCode":116,"message":"FileNotFoundInRequest","returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}},"401":{"description":"Unauthorized","content":{"application/json":{"example":{"data":null,"errorCode":401,"message":"Unauthorized","returnUrl":null,"stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/envelopes/initiate-base64":{"post":{"tags":["Envelopes"],"summary":"Initiate Envelope Base64","description":"Initiate a signature envelope by providing the document content as a Base64-encoded string. The system creates an envelope and returns its ID for subsequent signing invitation steps.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/envelopes/post-api-v1-envelopes-initiate-base64","security":[{"BearerAuth":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"},"example":{"userOnlySigner":true,"webhookId":"","workflowId":"","referenceNumber":"string","isForExternalWorkFlow":true,"files":{"fileId":"","file":"","fileName":""}}}}},"responses":{"200":{"description":"Envelope created successfully","content":{"application/json":{"example":{"data":{"documentId":"a6b7946e-5d76-478f-bfab-b1d6378d4f38","envelopeId":"4b83d3e7-b391-4dd2-b7d8-c0c121cb6cb1","destinations":null,"referenceNumber":"Req-A-2026-125","creatorFields":null},"errorCode":0,"message":"Success","returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}},"400":{"description":"Invalid request body","content":{"application/json":{"example":{"data":null,"errorCode":400,"message":"File content is required","returnUrl":null,"stateValidationErrors":null,"signature":""}}}},"401":{"description":"Unauthorized","content":{"application/json":{"example":{"data":null,"errorCode":401,"message":"Unauthorized","returnUrl":null,"stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/envelopes/initiate-by-template":{"post":{"tags":["Envelopes"],"summary":"Initiate Envelope by Template","description":"Initiate a signature envelope using a predefined template. The template defines the document structure, signing fields, and signer roles. Returns an envelope ID.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/envelopes/post-api-v1-envelopes-initiate-by-template","security":[{"BearerAuth":[]}],"parameters":[],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object"},"example":{"templateId":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"}}}},"responses":{"200":{"description":"Envelope created from template","content":{"application/json":{"example":{"data":{"documentId":"31e9cca5-3d6b-4493-a16e-4948174c6a3f","envelopeId":"8cf497f7-8c09-40d0-8dd1-b6593f6abc06","destinations":[],"referenceNumber":"Req-A-2026-326","creatorFields":null},"errorCode":0,"message":"Success","returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}},"404":{"description":"Template not found","content":{"application/json":{"example":{"data":null,"errorCode":404,"message":"Template not found","returnUrl":null,"stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/envelopes/bulk/initiate-base64":{"post":{"tags":["Envelopes"],"summary":"Bulk Initiate Envelope Base64","description":"Initiate multiple signature envelopes in a single request by providing documents as Base64-encoded strings. Returns an array of envelope IDs.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/envelopes/post-api-v1-envelopes-bulk-initiate-base64","security":[{"BearerAuth":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"},"example":{"userOnlySigner":true,"webhookId":"","workflowId":"","referenceNumber":"","isForExternalWorkFlow":true,"files":[{"file":"","fileName":""},{"file":"","fileName":""}]}}}},"responses":{"200":{"description":"Bulk envelopes created","content":{"application/json":{"example":{"data":{"envelopeId":"71cbe1e0-1b18-42c6-88b2-9f371019c723","bulkFileResponse":[{"documentId":"d8190868-a918-4e82-b149-e6d0074dacf8","documentName":"example.pdf","referenceNumber":"Req-A-2026-126"}],"destinations":null},"errorCode":0,"message":"Success","returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}},"400":{"description":"Invalid request","content":{"application/json":{"example":{"data":null,"errorCode":400,"message":"At least one envelope is required","returnUrl":null,"stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/envelopes/{envelopeId}/files":{"get":{"tags":["Envelopes"],"summary":"Download Envelope Files","description":"Download all files associated with an envelope. Returns file content as binary or base64 depending on the Accept header.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/envelopes/get-api-v1-envelopes-envelopeid-files","security":[{"BearerAuth":[]}],"parameters":[{"name":"envelopeId","in":"path","required":true,"description":"The unique identifier of the envelope","schema":{"type":"string"}}],"responses":{"200":{"description":"Envelope files returned","content":{"application/json":{"example":{"data":{"files":[{"fileId":"f1a2b3c4-d5e6-7890-abcd-ef1234567890","fileName":"contract.pdf"}]},"errorCode":0,"message":"Success","returnUrl":null,"stateValidationErrors":null,"signature":""}}}},"404":{"description":"Envelope not found","content":{"application/json":{"example":{"data":null,"errorCode":404,"message":"Envelope not found","returnUrl":null,"stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/envelopes/{envelopeId}/cancel":{"post":{"tags":["Envelopes"],"summary":"Cancel Envelope","description":"Cancel an active envelope, preventing any further signing actions. Cancellation is irreversible. All pending signers will be notified.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/envelopes/post-api-v1-envelopes-envelopeid-cancel","security":[{"BearerAuth":[]}],"parameters":[{"name":"envelopeId","in":"path","required":true,"description":"The unique identifier of the envelope to cancel","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"},"example":{"envelopId":""}}}},"responses":{"200":{"description":"Envelope cancelled","content":{"application/json":{"example":{"errorCode":0,"message":"Success","returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}},"400":{"description":"Envelope already completed","content":{"application/json":{"example":{"errorCode":100,"message":"GeneralError","returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/envelopes/{envelopeId}/status":{"get":{"tags":["Envelopes"],"summary":"Get Envelope Status","description":"Retrieve the current status of an envelope including signer completion details and overall progress.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/envelopes/get-api-v1-envelopes-envelopeid-status","security":[{"BearerAuth":[]}],"parameters":[{"name":"envelopeId","in":"path","required":true,"description":"The unique identifier of the envelope","schema":{"type":"string"}}],"responses":{"200":{"description":"Envelope status retrieved","content":{"application/json":{"example":{"data":{"envelopeId":"9af7cb57-436f-40e9-b05c-75d05732db1c","status":"Pending","createdAt":"2024-01-15T09:00:00Z","signers":[{"name":"Ahmed Al-Rashid","email":"ahmed@example.com","status":"Signed","signedAt":"2024-01-15T10:30:00Z"},{"name":"Sara Al-Otaibi","email":"sara@example.com","status":"Pending","signedAt":null}]},"errorCode":0,"message":"Success","returnUrl":null,"stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/envelopes/{envelopeId}/files/completed":{"get":{"tags":["Envelopes"],"summary":"Download Completed Envelope Files","description":"Download the signed and completed files from an envelope. Only available after all signers have completed signing.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/envelopes/get-api-v1-envelopes-envelopeid-files-completed","security":[{"BearerAuth":[]}],"parameters":[{"name":"envelopeId","in":"path","required":true,"description":"The unique identifier of the completed envelope","schema":{"type":"string"}}],"responses":{"200":{"description":"Completed files returned","content":{"application/json":{"example":{"data":[{"fileName":"A Simple PDF File.pdf","file":"file Base64 bit"}],"errorCode":0,"message":null,"returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}},"409":{"description":"Envelope not yet completed","content":{"application/json":{"example":{"data":null,"errorCode":14,"message":"The envelope is not complete, you can't download the file","returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/invitations":{"post":{"tags":["Invitations"],"summary":"Send Invitation","description":"Send a signing invitation to a recipient for a specific envelope. The recipient receives an email or SMS with a link to sign the document.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/invitations/post-api-v1-invitations","security":[{"BearerAuth":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"},"example":{"DocumentId":"9af7cb57-436f-40e9-b05c-75d05732db1c","Destinations":[{"DestinationName":"Ahmed Al-Rashid","DestinationEmail":"ahmed.alrashid@example.com","DestinationPhoneNumber":"+966501234567","signatories":[],"ConsentOnly":true,"AuthenticationType":0}]}}}},"responses":{"200":{"description":"Invitation sent successfully","content":{"application/json":{"example":{"data":true,"errorCode":0,"message":null,"returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/invitations/bulk/send":{"post":{"tags":["Invitations"],"summary":"Send Bulk Invitations","description":"Send signing invitations to multiple recipients across multiple envelopes in a single API call. Useful for high-volume signing workflows.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/invitations/post-api-v1-invitations-bulk-send","security":[{"BearerAuth":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"},"example":[{"documentId":"772ad332-a04a-48c4-a04c-176aa04b3cf5","destinations":[{"destinationName":"string","destinationEmail":"string@gmail.com","destinationPhoneNumber":"","signatories":[],"ConsentOnly":true}]},{"documentId":"945421fb-7e9b-47b7-b1dd-7274d13ca027","destinations":[{"destinationName":"string","destinationEmail":"string+1@gmail.com","destinationPhoneNumber":"","signatories":[],"ConsentOnly":true}]}]}}},"responses":{"200":{"description":"Bulk invitations sent","content":{"application/json":{"example":{"data":true,"errorCode":0,"message":null,"returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/invitations/envelope":{"post":{"tags":["Invitations"],"summary":"Send Invitation by Envelope","description":"Send signing invitations for all signers defined within a specific envelope. This triggers invitation dispatch for all pending signers in the envelope.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/invitations/post-api-v1-invitations-envelope","security":[{"BearerAuth":[]}],"parameters":[{"name":"envelopeId","in":"query","required":true,"description":"The unique identifier of the envelope.","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"},"example":{"envelopeId":"GUID","destinations":[{"destinationName":"hussein","destinationEmail":"test@gmail.sa","destinationPhoneNumber":"","signatories":[],"consentOnly":true,"authenticationType":0}]}}}},"responses":{"200":{"description":"Invitations sent for envelope","content":{"application/json":{"example":{"data":true,"errorCode":0,"message":null,"returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/invitations/extend":{"put":{"tags":["Invitations"],"summary":"Extend Single Invitation","description":"Extend the expiry date of a single signing invitation. Use this to give a signer more time to complete signing before the invitation expires.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/invitations/put-api-v1-invitations-extend","security":[{"BearerAuth":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"},"example":{"destinationId":"e96ed7d6-60e3-4faf-a7d5-5ba5f860bb1a","availableTo":"2025-12-29T12:00:00Z"}}}},"responses":{"200":{"description":"AvailableTo is in the past","content":{"application/json":{"example":{"data":false,"errorCode":16,"message":"AvailableTo is in the past","returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/envelopes/extend-invitations":{"put":{"tags":["Invitations"],"summary":"Extend Envelope Invitations","description":"Extend the expiry dates of all pending invitations within a specific envelope. This is useful when you need to give all signers more time.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/invitations/put-api-v1-envelopes-extend-invitations","security":[{"BearerAuth":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"},"example":{"envelopeId":"9af7cb57-436f-40e9-b05c-75d05732db1c","availableTo":"2025-12-29T12:00:00Z"}}}},"responses":{"200":{"description":"AvailableTo is in the past","content":{"application/json":{"example":{"data":false,"errorCode":16,"message":"AvailableTo is in the past","returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/invitations/reminders/send":{"post":{"tags":["Invitations"],"summary":"Send Reminder","description":"Send a reminder notification to a signer who has not yet completed signing. The reminder is sent via the same channel as the original invitation.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/invitations/post-api-v1-invitations-reminders-send","security":[{"BearerAuth":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"},"example":{"requestId":"GUID","destinationEmail":"X@gmail.com"}}}},"responses":{"200":{"description":"Reminder sent","content":{"application/json":{"example":{"data":true,"errorCode":0,"message":"Success","returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/invitations/bulk/reminders/send":{"post":{"tags":["Invitations"],"summary":"Send Bulk Reminders","description":"Send reminder notifications to multiple signers in a single request. Use this for batch follow-up campaigns.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/invitations/post-api-v1-invitations-bulk-reminders-send","security":[{"BearerAuth":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"},"example":[{"requestId":"9af7cb57-436f-40e9-b05c-75d05732db1c","destinationEmail":"ahmed.alsaud@example.com","destinationPhone":"+966501234567"},{"requestId":"a1b2c3d4-5e6f-7g8h-9i0j-1k2l3m4n5o6p","destinationEmail":"fatima.otaibi@example.com","destinationPhone":null}]}}},"responses":{"200":{"description":"The email not belong to this envelop","content":{"application/json":{"example":{"data":true,"errorCode":121,"message":"The email not belong to this envelop  ","returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}}}}},"/api/v2/invitations":{"post":{"tags":["Invitations"],"summary":"Send Invitation V2","description":"Version 2 of the Send Invitation API. Unlike previous versions, this endpoint does not send notifications via email or SMS. Instead, it returns the signing link directly in the API response, allowing clients to handle notification delivery and user communication through their own channels.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/invitations/post-api-v2-invitations","security":[{"BearerAuth":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"},"example":{"documentId":"","destinations":[{"destinationName":"","destinationEmail":"","destinationPhoneNumber":"","signeOrder":0,"ConsentOnly":true,"destinationType":1,"signatories":[],"availableTo":"","allowUserToSignAnyWhere":false,"authenticationType":7,"invitationLanguage":1,"redirectUrl":"","allowUserToAddDestination":false}],"invitationMessage":"Dear User, please sign the document attached below.","invitationSubject":"Document Signature Request"}}}},"responses":{"200":{"description":"Invitation sent","content":{"application/json":{"example":{"data":[{"id":"","subject":"","message":"","name":"","nationalId":null,"signeOrder":0,"destinationType":1,"authenticationType":7,"destinationPhone":"","destination":"","fileId":"a","status":1,"userHost":"","invitationLink":"","invitationLanguage":0}],"errorCode":0,"message":null,"returnUrl":"","stateValidationErrors":null,"signature":""}}}}}}},"/api/v3/invitations":{"post":{"tags":["Invitations"],"summary":"Send Invitation V3","description":"Version 3 of the Send Invitation API. This endpoint sends notifications to recipients via email or SMS and also returns the signing link directly in the API response, allowing clients to both rely on built-in notifications and handle additional communication through their own channels if needed.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/invitations/post-api-v3-invitations","security":[{"BearerAuth":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"},"example":{"documentId":"","destinations":[{"destinationName":"","destinationEmail":"","destinationPhoneNumber":"","signeOrder":0,"ConsentOnly":true,"destinationType":1,"signatories":[],"availableTo":"","allowUserToSignAnyWhere":false,"authenticationType":3,"invitationLanguage":1,"redirectUrl":"","allowUserToAddDestination":false}],"invitationMessage":"Dear User, please sign the document attached.","invitationSubject":"Document Signature Request"}}}},"responses":{"200":{"description":"Multi-step invitation created","content":{"application/json":{"example":{"data":[{"id":"","subject":"","message":"","name":"","signeOrder":0,"destinationType":1,"authenticationType":7,"destination":"","fileId":"","status":1,"userHost":"","invitationLink":"","invitationLanguage":0}],"errorCode":0,"message":null,"returnUrl":"","stateValidationErrors":null,"signature":""}}}}}}},"/api/v2/sign":{"post":{"tags":["Sign"],"summary":"Sign Document V2","description":"The Sadq API (Version 2) provides a seamless way for clients to electronically sign documents directly without redirecting to external websites. This API allows clients to collect customer information and combine it with the document to create legally binding digital signatures.\n\nThis endpoint allows you to sign a document digitally by providing customer information and document details. The document is digitally signed and legally bound. invitation, applying the user's electronic signature.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/sign/post-api-v2-sign","security":[{"BearerAuth":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"},"example":{"documentId":"","signres":[{"firstNameArabic":"","firstNameEnglish":"","secondNameArabic":"","secondNameEnglish":"","familyNameArabic":"","familyNameEnglish":"","nationalId":"","mobileNumber":"","emailAddress":""},{"firstNameArabic":"","firstNameEnglish":"","secondNameArabic":"","secondNameEnglish":"","familyNameArabic":"","familyNameEnglish":"","nationalId":"","mobileNumber":"","emailAddress":""}]}}}},"responses":{"200":{"description":"GeneralError","content":{"application/json":{"example":{"errorCode":100,"message":"GeneralError","returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}}}}},"/api/v2/sign/by-template":{"post":{"tags":["Sign"],"summary":"Sign by Template V2","description":"Sign a document generated from a template. The template pre-defines signature fields and positions, streamlining the signing process for standardized documents.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/sign/post-api-v2-sign-by-template","security":[{"BearerAuth":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"},"example":{"templateId":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","signres":[{"firstNameArabic":"xx","firstNameEnglish":"xxx","secondNameArabic":"xx","secondNameEnglish":"xx","familyNameArabic":"xx","familyNameEnglish":"xxx","nationalId":"1111111111","mobileNumber":"+962700000020","emailAddress":"a.@gmail.sa"}],"templateFields":[{"fieldName":"contractDate","value":"2024-01-15"}],"ReferenceNumber ":"sig-uuid-1234-5678-90ab","Password":"112233"}}}},"responses":{"200":{"description":"Fill Data","content":{"application/json":{"example":{"errorCode":209,"message":"Template With Id [ 94b22fdc-4132-4169-a4f3-5630e80755fa ] has data that needs to be filled by the recipient, so it can't be used in this model.","returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/esign/nafath/sign":{"post":{"tags":["eSign"],"summary":"Hash Sign V1","description":"Sign a document using Saudi Arabia's Nafath national digital identity platform (v1). The signer authenticates via the Nafath app using their national ID.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/esign/post-api-v1-esign-nafath-sign","security":[{"BearerAuth":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"},"example":{"requestId":"9af7cb57-436f-40e9-b05c-75d05732db1c","signatureAppearance":{"isVisible":true,"pageNumber":1,"rect":{"x1":100,"y1":100,"width":200,"height":80},"appearanceImageBase64":"iVBORw0KGgoAAAANSUhEUgAAAAUA...","extraText":"Digitally signed via Nafath"},"file":{"file":"JVBERi0xLjQKJeLjz9MKMiAwIG9iago8PC9BUDw8...","fileName":"contract.pdf","password":null},"config":{"showAccountName":true,"showRequestId":true,"showSignDate":true,"showPageNumber":false}}}}},"responses":{"200":{"description":" Authenticate Nafath","content":{"application/json":{"example":{"data":null,"errorCode":100,"message":"users must authenticate them-self throw Nafath before signing the document","returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}}}}},"/api/v2/esign/nafath/sign":{"post":{"tags":["eSign"],"summary":"Hash Sign V2","description":"Enhanced Nafath signing endpoint (v2) with additional biometric verification options, improved error handling, and support for Nafath API v3 authentication flows.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/esign/post-api-v2-esign-nafath-sign","security":[{"BearerAuth":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"},"example":{"requestId":"9af7cb57-436f-40e9-b05c-75d05732db1c","signatureAppearance":{"isVisible":true,"pageNumber":1,"rect":{"x1":100,"y1":100,"width":200,"height":80},"appearanceImageBase64":"iVBORw0KGgoAAAANSUhEUgAAAAUA...","extraText":"Digitally signed via Nafath"},"signres":[{"firstNameArabic":"xxxxx","firstNameEnglish":"xxx","secondNameArabic":"","secondNameEnglish":"","familyNameArabic":"xxxx","familyNameEnglish":"xxx","nationalId":"9551058000","mobileNumber":"079999999","emailAddress":"A.A@Gmail.com"}],"file":{"file":"JVBERi0xLjQKJeLjz9MKMiAwIG9iago8PC9BUDw8...","fileName":"contract.pdf","password":null},"config":{"showAccountName":true,"showRequestId":true,"showSignDate":true,"showPageNumber":false}}}}},"responses":{"200":{"description":"Nafath v2 signing completed","content":{"application/json":{"example":{"data":"JVBERi0xLjQKJeLj.......","errorCode":0,"message":null,"returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/documents/{id}":{"get":{"tags":["Documents"],"summary":"Download Document File","description":"Download the original document file by its ID. Returns the file as binary content.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/documents/get-api-v1-documents-id","security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"description":"The unique document ID","schema":{"type":"string"}}],"responses":{"200":{"description":"application/pdf  File Binary","content":{"application/json":{"example":{}}}}}}},"/api/v1/documents/{id}/signed":{"get":{"tags":["Documents"],"summary":"Download Signed File","description":"Download the signed version of a document file. The signed document includes embedded digital signatures.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/documents/get-api-v1-documents-id-signed","security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"description":"The unique document ID","schema":{"type":"string"}}],"responses":{"200":{"description":"Signed document returned -- application/pdf","content":{"application/json":{"example":{}}}}}}},"/api/v1/documents/{id}/completed/base64":{"get":{"tags":["Documents"],"summary":"Download Completed File Base64","description":"Download a completed (fully-signed) document as a Base64-encoded string. Useful for applications that need to handle file content programmatically.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/documents/get-api-v1-documents-id-completed-base64","security":[{"BearerAuth":[]}],"parameters":[{"name":"documentId","in":"path","required":true,"description":"The unique identifier of the document to be downloaded.","schema":{"type":"string"}}],"responses":{"200":{"description":"Base64 encoded completed document","content":{"application/json":{"example":{"data":{"file":"","fileName":"","contentType":"application/pdf"},"errorCode":0,"message":null,"returnUrl":"","stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/documents/{id}/content-base64":{"get":{"tags":["Documents"],"summary":"Download File  v1","description":"The \"File Download\" API allows users to download files from the server by providing the unique identifier (FileId) of the desired file. This API is particularly useful for applications that require file handling and management, enabling seamless integration with the system to securely retrieve files.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/documents/get-api-v1-documents-id-content-base64","security":[{"BearerAuth":[]}],"parameters":[{"name":"Id","in":"path","required":true,"description":"The unique document ID","schema":{"type":"string"}}],"responses":{"200":{"description":"Unauthorized ","content":{"application/json":{"example":{"data":null,"errorCode":14,"message":"The User is Unauthorized to access The file  File Id = {fileId} ","returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}}}}},"/api/v2/documents/{id}/content-base64":{"get":{"tags":["Documents"],"summary":"Download File  v2","description":"The \"File Download\" API allows users to download files from the server by providing the unique identifier (FileId) of the desired file. This API is particularly useful for applications that require file handling and management, enabling seamless integration with the system to securely retrieve files.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/documents/get-api-v2-documents-id-content-base64","security":[{"BearerAuth":[]}],"parameters":[{"name":"Id","in":"path","required":true,"description":"The unique identifier of the file to be downloaded.","schema":{"type":"string"}}],"responses":{"200":{"description":"Unauthorized ","content":{"application/json":{"example":{"data":null,"errorCode":14,"message":"The User is Unauthorized to access The file  File Id = {fileId} ","returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/templates":{"get":{"tags":["Templates"],"summary":"List Templates","description":"Retrieve a paginated list of all reusable document signing templates available to the authenticated account.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/templates/get-api-v1-templates","security":[{"BearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Templates list returned","content":{"application/json":{"example":{"data":[{"id":"94b22fdc-4132-4169-a4f3-5630e80755fa","fileName":"sample6.pdf","uploadDate":"2025-11-23T12:35:39.58","shareType":3},{"id":"b34f152e-29a7-4195-8339-ba0cb0c97cf4","fileName":"New_Template.pdf","uploadDate":"2025-12-14T11:31:58.117","shareType":2}],"errorCode":0,"message":"Success","returnUrl":"","stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/templates/{templateId}":{"get":{"tags":["Templates"],"summary":"Get Template by ID","description":"Retrieves detailed information about a specific template, including its destinations (signers) and creator fields.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/templates/get-api-v1-templates-templateid","security":[{"BearerAuth":[]}],"parameters":[{"name":"templateId","in":"path","required":true,"description":"The unique template ID","schema":{"type":"string"}}],"responses":{"200":{"description":"Template details","content":{"application/json":{"example":{"data":{"templateId":"94b22fdc-4132-4169-a4f3-5630e80755fa","fileName":"sample6.pdf","destinations":[{"destinationName":null,"destinationEmail":null,"destinationPhoneNumber":"","signeOrder":0,"signatories":[{"positionX":7.5836406,"positionY":7.650696,"signatureHigh":36.72334,"signatureWidth":303.99942,"pageNumber":1,"text":"","type":"Signature","fieldLabel":null,"fontFamily":"D3F13AA8-A350-4739-B862-27070B4943C0","fontSize":12,"appendDate":false,"documentId":null,"isRequired":true,"textAlignment":0,"dataSource":null},{"positionX":334.21112,"positionY":174.05334,"signatureHigh":75.588875,"signatureWidth":186.40596,"pageNumber":1,"text":"","type":"Signature","fieldLabel":null,"fontFamily":"D3F13AA8-A350-4739-B862-27070B4943C0","fontSize":12,"appendDate":false,"documentId":null,"isRequired":true,"textAlignment":0,"dataSource":null},{"positionX":71.049286,"positionY":178.08905,"signatureHigh":67.1731,"signatureWidth":198.53976,"pageNumber":1,"text":null,"type":"CreatorSignature","fieldLabel":null,"fontFamily":"D3F13AA8-A350-4739-B862-27070B4943C0","fontSize":12,"appendDate":false,"documentId":null,"isRequired":true,"textAlignment":0,"dataSource":null}],"availableTo":"2026-06-17T00:00:00+03:00","consentOnly":false,"authenticationType":0,"allowUserToSignAnyWhere":false,"destinationType":1,"nationalId":null,"invitationLanguage":null,"redirectUrl":null,"allowUserToAddDestination":false,"delegaterId":null,"commercialNumber":null,"uploadFile":null,"dailyNotify":false,"escalation":null}],"creatorFields":{}},"errorCode":0,"message":"Success","returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}},"404":{"description":"Template not found","content":{"application/json":{"example":{"data":null,"errorCode":0,"message":"Success","returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/users":{"post":{"tags":["Users"],"summary":"Create User","description":"Create a new user account within the tenant. The created user can be assigned permissions and can participate in signing workflows.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/users/post-api-v1-users","security":[{"BearerAuth":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"},"example":{"FirstNameAr":"Hussein Test","FirstNameEn":"Test Integ","MiddleNameAr":"حسين","MiddleNameEn":"Name","ThirdNameAr":"علي","ThirdNameEn":"Nameeee","LastNameAr":"العائلة","LastNameEn":"Family","Email":"f7s88@airsworld.net","IsActive":true,"Permissions":[1,2,3]}}}},"responses":{"200":{"description":"User created","content":{"application/json":{"example":{"data":"GUID","errorCode":0,"message":null,"returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}},"409":{"description":"User already exists","content":{"application/json":{"example":{"data":"00000000-0000-0000-0000-000000000000","errorCode":5,"message":"User Already Exsit","returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/users/delete":{"post":{"tags":["Users"],"summary":"Delete User","description":"Delete a user account from the tenant. This action is irreversible. All active signing sessions for this user will be terminated.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/users/post-api-v1-users-delete","security":[{"BearerAuth":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"},"example":{"userId":"GUID"}}}},"responses":{"200":{"description":"User deleted","content":{"application/json":{"example":{"data":true,"errorCode":0,"message":null,"returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/users/permissions/add":{"post":{"tags":["Users"],"summary":"Add User Permissions","description":"Grant additional permissions to a user. Permissions control access to specific API operations and document groups.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/users/post-api-v1-users-permissions-add","security":[{"BearerAuth":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"},"example":{"UserId":"GUID","Permissions":[1,2,3,4,5]}}}},"responses":{"200":{"description":"Permissions added","content":{"application/json":{"example":{"data":true,"errorCode":0,"message":null,"returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/users/permissions/remove":{"post":{"tags":["Users"],"summary":"Remove User Permissions","description":"Removes permissions from an existing user.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/users/post-api-v1-users-permissions-remove","security":[{"BearerAuth":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"},"example":{"userId":"e96ed7d6-60e3-4faf-a7d5-5ba5f860bb1a","permissions":[3,7]}}}},"responses":{"200":{"description":"Permissions removed","content":{"application/json":{"example":{"data":true,"errorCode":0,"message":"Permissions removed successfully","returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/users/{userId}":{"put":{"tags":["Users"],"summary":"Update User","description":"Updates an existing user's information.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/users/put-api-v1-users-userid","security":[{"BearerAuth":[]}],"parameters":[{"name":"userId","in":"path","required":true,"description":"The unique identifier of the user to update.","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"},"example":{"firstNameAr":"أحمد","firstNameEn":"Ahmed","middleNameAr":"محمد","middleNameEn":"Mohammed","thirdNameAr":"علي","thirdNameEn":"Ali","lastNameAr":"السعود","lastNameEn":"Al-Saud","phone":"+966501234567","nationalId":"1234567890","gender":0,"postalCode":"12345"}}}},"responses":{"200":{"description":"User updated","content":{"application/json":{"example":{"data":{"id":"7dc9d9b9-ce7e-419c-8e52-a661f333fd88","nationalId":"12345678901234","accountId":"c0f63b10-f2e5-44e7-93b3-c78189ce392b","firstNameAr":"أحمد","firstNameEn":"Ahmed","middleNameAr":"محمد","middleNameEn":"Mohamed","thirdNameAr":"عبدالله","thirdNameEn":"Abdullah","lastNameAr":"الزايد","lastNameEn":"Al Zayed","gender":1,"email":"f7s88@airsworld.net","phone":"+1234567890","region":"","street":null,"postalCode":"12345","zipcode":"12345","nationlity":null,"isDeleted":false,"transactionsCount":null,"position":null,"isActive":true,"quota":0,"allowToUseAccountQuota":false},"errorCode":0,"message":null,"returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/workflows":{"get":{"tags":["Workflows"],"summary":"List Workflows","description":"Retrieve a paginated list of all signing workflows configured for the tenant.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/workflows/get-api-v1-workflows","security":[{"BearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Workflows list","content":{"application/json":{"example":{"totalCount":2,"dataList":[{"id":"575f0d6b-f4be-4543-90e0-ca473ded3758","accountId":"c0f63b10-f2e5-44e7-93b3-c78189ce392b","nameAr":"Test Integration 9","nameEn":"Test Integration 9","isActive":true,"isDeleted":false,"creatorId":"6e71bfed-63b0-47c6-8733-65ba15d7f127","workflowDestinations":[{"id":"62529c87-cf62-4a8f-a07e-1738874e40ec","workflowId":"575f0d6b-f4be-4543-90e0-ca473ded3758","accountId":"c0f63b10-f2e5-44e7-93b3-c78189ce392b","name":"test203","email":"Test_20@Sadq.Sa","phone":null,"order":2,"authenticationType":1,"destinationType":1},{"id":"a89ae641-4dd3-4915-bf8f-ba31bd365619","workflowId":"575f0d6b-f4be-4543-90e0-ca473ded3758","accountId":"c0f63b10-f2e5-44e7-93b3-c78189ce392b","name":"hussein","email":"huss66n@gmail.com","phone":null,"order":1,"authenticationType":1,"destinationType":3},{"id":"c88dbe54-cb54-4e0e-896e-c483c41662e8","workflowId":"575f0d6b-f4be-4543-90e0-ca473ded3758","accountId":"c0f63b10-f2e5-44e7-93b3-c78189ce392b","name":"Alaa","email":"a.darweesh@sadq.sa","phone":null,"order":3,"authenticationType":0,"destinationType":1}]},{"id":"10bcb6b6-739c-42ce-990a-dff5fde92132","accountId":"c0f63b10-f2e5-44e7-93b3-c78189ce392b","nameAr":"Test Integration 99","nameEn":"Test Integration 99","isActive":true,"isDeleted":false,"creatorId":"6e71bfed-63b0-47c6-8733-65ba15d7f127","workflowDestinations":[{"id":"68c8f2dc-2f04-453c-a6a1-498c10c3408f","workflowId":"10bcb6b6-739c-42ce-990a-dff5fde92132","accountId":"c0f63b10-f2e5-44e7-93b3-c78189ce392b","name":"test203","email":"Test_20@Sadq.Sa","phone":null,"order":2,"authenticationType":1,"destinationType":1},{"id":"35bc0f97-1c5a-43ef-a525-5f858fe1fcae","workflowId":"10bcb6b6-739c-42ce-990a-dff5fde92132","accountId":"c0f63b10-f2e5-44e7-93b3-c78189ce392b","name":"Alaa","email":"a.darweesh@sadq.sa","phone":null,"order":3,"authenticationType":0,"destinationType":1},{"id":"2933b25b-4377-4f68-80f2-725a16ae2d26","workflowId":"10bcb6b6-739c-42ce-990a-dff5fde92132","accountId":"c0f63b10-f2e5-44e7-93b3-c78189ce392b","name":"hussein","email":"huss66n@gmail.com","phone":null,"order":1,"authenticationType":1,"destinationType":3}]}],"errorCode":0,"message":""}}}}}}},"/api/v1/workflows/{workflowId}":{"put":{"tags":["Workflows"],"summary":"Update Workflow","description":"The \"Update Workflow\" API method enables modification of an existing workflow instance. This method is essential for altering workflow details and destinations.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/workflows/put-api-v1-workflows-workflowid","security":[{"BearerAuth":[]}],"parameters":[{"name":"workflowId","in":"path","required":true,"description":"The unique workflow ID","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"},"example":{"Id":"","NameAr":"","NameEn":"","IsActive":true,"IsDeleted":false,"WorkflowDestinations":[{"Id":"","WorkflowId":"","Name":"","Email":"","Phone":"","Order":1,"AuthenticationType":1,"DestinationType":3},{"Id":"","WorkflowId":"","Name":"","Email":"","Phone":"","Order":2,"AuthenticationType":1,"DestinationType":3}]}}}},"responses":{"200":{"description":"Workflow updated","content":{"application/json":{"example":{"errorCode":0,"message":null,"returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/workflows/{id}":{"delete":{"tags":["Workflows"],"summary":"Delete Workflow","description":"Permanently delete a workflow. Active workflows with ongoing signing processes cannot be deleted.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/workflows/delete-api-v1-workflows-id","security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"description":"The unique workflow ID to delete","schema":{"type":"string"}}],"responses":{"200":{"description":"Workflow deleted","content":{"application/json":{"example":{"errorCode":0,"message":null,"returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}},"409":{"description":"Id is not valid","content":{"application/json":{"example":{"errorCode":8,"message":null,"returnUrl":"/dashboard","stateValidationErrors":{"id":{"rawValue":"{id}575f0d6b-f4be-4543-90e0-ca473ded3758","attemptedValue":"{id}575f0d6b-f4be-4543-90e0-ca473ded3758","errors":[{"exception":null,"errorMessage":"The value '{id}575f0d6b-f4be-4543-90e0-ca473ded3758' is not valid."}],"validationState":1,"isContainerNode":false,"children":null}},"signature":""}}}}}}},"/api/v1/webhooks":{"put":{"tags":["Webhooks"],"summary":"Update Webhook","description":"This API allows you to update an existing webhook configuration in the system. You can modify the URL, authentication token, and default status of the webhook using this API.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/webhooks/put-api-v1-webhooks","security":[{"BearerAuth":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"},"example":{"id":"4ad46fc9-a3c4-442d-9c10-680213a76486","webhookUrl":"https://example.com/webhook-updated","isDefault":false}}}},"responses":{"200":{"description":"Webhook updated","content":{"application/json":{"example":{"errorCode":0,"message":null,"returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/webhooks/bulk":{"post":{"tags":["Webhooks"],"summary":"Create Webhooks Bulk","description":"This API allows you to configure multiple webhook URLs in the system. You can provide a list of webhook URLs along with their authentication tokens and default status. Once configured, the system will send relevant data to the provided URLs whenever specific events occur.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/webhooks/post-api-v1-webhooks-bulk","security":[{"BearerAuth":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"},"example":[{"webhookUrl":"https://example.com/webhook1","headerToken":"Bearer secret_token_12345","isDefault":true},{"webhookUrl":"https://example.com/webhook2","headerToken":"Bearer secret_token_67890","isDefault":false}]}}},"responses":{"200":{"description":"Bulk webhooks created","content":{"application/json":{"example":{"data":[{"id":"7c8ae64f-57cd-4adc-93fe-f9ade7fc570c","webhookUrl":"https://drive.google.com/drive/u/4/my-drive22","accountId":"c0f63b10-f2e5-44e7-93b3-c78189ce392b","isDefault":false,"headerToken":""},{"id":"502c1bfc-2f70-4634-b045-46684e8e1746","webhookUrl":"https://drive.google.com/drive/u/4/my-drive","accountId":"c0f63b10-f2e5-44e7-93b3-c78189ce392b","isDefault":false,"headerToken":""}],"errorCode":0,"message":null,"returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/webhooks/{id}":{"delete":{"tags":["Webhooks"],"summary":"Delete Webhook","description":"This API allows you to delete a specific webhook configuration based on its ID from the system.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/webhooks/delete-api-v1-webhooks-id","security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"description":"The unique identifier of the webhook to delete.","schema":{"type":"string"}}],"responses":{"200":{"description":"Webhook deleted","content":{"application/json":{"example":{"errorCode":0,"message":null,"returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/webhooks/recall":{"post":{"tags":["Webhooks"],"summary":"Recall Webhook","description":"This endpoint triggers a webhook call within the Sadq Integration Service. It is typically used to manually trigger webhook notifications or synchronize external systems with events or data changes from Sadq.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/webhooks/post-api-v1-webhooks-recall","security":[{"BearerAuth":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"},"example":{"requestId":"GUID"}}}},"responses":{"200":{"description":"Webhook recalled","content":{"application/json":{"example":{"errorCode":0,"message":null,"returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/configuration/sms-provider":{"put":{"tags":["Configuration"],"summary":"Update SMS Provider","description":"Updates the SMS provider configuration for your Sadq account. This allows you to configure custom SMS settings for sending notifications to signers.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/configuration/put-api-v1-configuration-sms-provider","security":[{"BearerAuth":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"},"example":{"smsUrl":"https://sms-api.example.com/send","smsSender":"Sadq","smsUserame":"api_user","smsPassword":"secure_password","smsProvider":1}}}},"responses":{"200":{"description":"SMS provider updated","content":{"application/json":{"example":{"errorCode":0,"message":null,"returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/configuration/update":{"post":{"tags":["Configuration"],"summary":"Update Configuration","description":"Updates comprehensive configuration settings including general, email, password, and SMS configurations for your Sadq account in a single request.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/configuration/post-api-v1-configuration-update","security":[{"BearerAuth":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"},"example":{"general":{"referenceNumberFirstPart":"REQ-2025","defaultRedirectUrl":"https://example.com/success","allowExternalRecipientsToViewSignerMapping":false,"notifyMeEachTimeaSignerCompletesTheirSignature":true,"hideSignersSensitiveInformationInTheAuditTrail":true,"separateAuditTrailFromOriginalFile":true,"preventSignerFromResizingTheSignature":false,"flag":0},"email":{"emailProviderType":1,"emailDomain":"example.com","emailUser":"noreply@example.com","emailPassword":"secure_password","emailSmtp":"smtp.example.com","emailPort":"587","emailEnableSSL":true},"password":{"expiryIntervalDays":90,"minPasswordLength":8,"maxPasswordLength":128,"uppercaseCharRequirement":1,"lowercaseCharRequirement":1,"numberCharRequirement":1,"specialCharRequirement":1,"enableExpiryNotification":true,"expiryNotificationDaysBefore":7},"sms":{"smsProvider":1,"invitationLanguage":1,"smsUrl":"https://sms-api.example.com/send","smsSender":"Sadq","smsUsername":"api_user","smsPassword":"secure_password"}}}}},"responses":{"200":{"description":"Configuration updated","content":{"application/json":{"example":{"errorCode":0,"message":null,"returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/kyb/check-cr/{commercialNumber}":{"get":{"tags":["KYB"],"summary":"Check CR v1","description":"Retrieves detailed information about a business using its commercial registration number.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/kyb/get-api-v1-kyb-check-cr-commercialnumber","security":[{"BearerAuth":[]}],"parameters":[{"name":"commercialNumber","in":"path","required":true,"description":"The commercial registration number to check.","schema":{"type":"string"}}],"responses":{"200":{"description":"CR not found","content":{"application/json":{"example":{"data":null,"errorCode":149,"message":"The commercial registration number is not registered with the Ministry of Commerce","returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}}}}},"/api/v2/kyb/check-cr/{commercialNumber}":{"get":{"tags":["KYB"],"summary":"Check CR v2","description":"Enhanced CR verification (v2) with additional details including owner information, branch data, authorized signatories, and real-time Zakat/Tax authority status.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/kyb/get-api-v2-kyb-check-cr-commercialnumber","security":[{"BearerAuth":[]}],"parameters":[{"name":"commercialNumber","in":"path","required":true,"description":"The Saudi commercial registration number (CR)","schema":{"type":"string"}}],"responses":{"200":{"description":"Not Found","content":{"application/json":{"example":{"data":null,"errorCode":149,"message":"The commercial registration number is not registered with the Ministry of Commerce","returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/kyb/absher-otp/{commercialNumber}/{nationalId}":{"get":{"tags":["KYB"],"summary":"Absher OTP with CR","description":"Initiate an Absher OTP verification for an individual associated with a specific commercial registration. Verifies that the person is authorized to sign on behalf of the company.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/kyb/get-api-v1-kyb-absher-otp-commercialnumber-nationalid","security":[{"BearerAuth":[]}],"parameters":[{"name":"commercialNumber","in":"path","required":true,"description":"The CR number of the company","schema":{"type":"string"}},{"name":"nationalId","in":"path","required":true,"description":"The Saudi National ID of the person","schema":{"type":"string"}}],"responses":{"200":{"description":"not enough credit","content":{"application/json":{"example":{"data":null,"errorCode":152,"message":"There is not enough credit to Absher Quota","returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/kyb/absher-otp/{nationalId}":{"get":{"tags":["KYB"],"summary":"Absher OTP Individual","description":"Requests an OTP (One-Time Password) from Absher for verification using only the national ID.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/kyb/get-api-v1-kyb-absher-otp-nationalid","security":[{"BearerAuth":[]}],"parameters":[{"name":"nationalId","in":"path","required":true,"description":"The Saudi National ID or Iqama number","schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"example":{"data":null,"errorCode":152,"message":"There is not enough credit to Absher Quota","returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/kyb/delegacy/{nationalId}/{delegatedReferenceId}":{"get":{"tags":["KYB"],"summary":"Check Delegacy","description":"Verify a power-of-attorney (delegacy) between two individuals or between an individual and a company. Confirms that the delegated person has authority to sign.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/kyb/get-api-v1-kyb-delegacy-nationalid-delegatedreferenceid","security":[{"BearerAuth":[]}],"parameters":[{"name":"nationalId","in":"path","required":true,"description":"The national ID of the delegating party","schema":{"type":"string"}},{"name":"delegatedReferenceId","in":"path","required":true,"description":"The reference ID of the delegation document","schema":{"type":"string"}}],"responses":{"200":{"description":"Delegacy check result","content":{"application/json":{"example":{"errorCode":0,"message":"Success","returnUrl":"/dashboard","stateValidationErrors":null,"signature":"","data":{"name":"أحمد محمد العلي","nameEn":"Ahmad Mohammed Al-Ali","birthDate":"1990-05-15","identity":{"id":"1234567890","type":"NATIONAL_ID"},"nationality":{"id":"SA","name":"السعودية"},"delegacy":[{"id":12345,"expiryDate":"2025-12-31","startDate":"2024-01-01","href":"https://api.wathq.sa/delegacy/12345","organization":[{"id":67890,"name":"وزارة التجارة","nameEn":"Ministry of Commerce","system":[{"id":"SYS001","name":"نظام السجل التجاري","nameEn":"Commercial Registry System","role":[{"id":"ROLE001","name":"مدير","nameEn":"Manager","delegatedReferenceId":"REF-2024-001","delegatedReferenceType":"COMPANY","mainReferenceId":null}]}]}]}]}}}}}}}},"/api/v1/kyb/spl/national-address/{crNumber}":{"get":{"tags":["KYB"],"summary":"Get National Address","description":"Retrieves the Saudi Post (SPL) national address information for a business based on its commercial registration number.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/kyb/get-api-v1-kyb-spl-national-address-crnumber","security":[{"BearerAuth":[]}],"parameters":[{"name":"crNumber","in":"path","required":true,"description":"The commercial registration number","schema":{"type":"string"}}],"responses":{"200":{"description":"No data returned","content":{"application/json":{"example":{"data":null,"errorCode":100,"message":"No data returned from SPL National Address endpoint","returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/archiving/categories":{"post":{"tags":["Archiving & Delegations"],"summary":"Create Archive Category","description":"Creates a new archive category or subcategory for organizing archived documents.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/archiving-delegations/post-api-v1-archiving-categories","security":[{"BearerAuth":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"},"example":{"name":"Test Hussein","description":"Test description"}}}},"responses":{"200":{"description":"Category created","content":{"application/json":{"example":{"data":"aedaa0dd-8015-45b3-a787-02e57484a26c","errorCode":0,"message":null,"returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/archiving/files/upload":{"post":{"tags":["Archiving & Delegations"],"summary":"Upload Archive Files","description":"Upload files directly to the document archive. Files are stored securely and indexed for future retrieval.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/archiving-delegations/post-api-v1-archiving-files-upload","security":[{"BearerAuth":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"},"example":{"categoryId":"GUID","files":[{"file":"JVBERi0xLjQKJeLjz9MKMiAwIG9iago8PC9BUDw8...","fileName":"contract_2025.pdf","password":"secure123"},{"file":"UEsDBBQABgAIAAAAIQBi7p1oXgEAAJAEAAATAAgCW0...","fileName":"invoice_jan_2025.xlsx","password":null}]}}}},"responses":{"200":{"description":"Files archived","content":{"application/json":{"example":{"errorCode":0,"message":"Success","returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/delegations":{"post":{"tags":["Archiving & Delegations"],"summary":"Create Delegation","description":"Creates a new delegation, allowing another user to act on your behalf for document signing during a specified time period.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/archiving-delegations/post-api-v1-delegations","security":[{"BearerAuth":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"},"example":{"fromDate":"2025-12-29T12:00:00Z","endDate":"2026-01-05T12:00:00Z","description":"Vacation delegation - Annual leave","delegateEmail":"delegate@example.com"}}}},"responses":{"200":{"description":"Delegation created","content":{"application/json":{"example":{"data":"a27b7752-5ef0-446d-85bb-420319e9ce92","errorCode":0,"message":null,"returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/delegations/forward":{"post":{"tags":["Archiving & Delegations"],"summary":"Forward to Delegate","description":"Forward a specific signing request to a delegated authority. The delegate receives the request and can sign on behalf of the original signer.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/archiving-delegations/post-api-v1-delegations-forward","security":[{"BearerAuth":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"},"example":{"requestId":"e16c0dbb-8db6-4c97-8cd9-1ca34c07050b","targetUserId":"7D238EA2-F0A8-4F67-973E-1C9E1EF4E3BD","destinationId":"CF82202D-1F1F-4CA0-93AD-4DBCBF417929"}}}},"responses":{"200":{"description":"Request forwarded to delegate","content":{"application/json":{"example":{"data":true,"errorCode":0,"message":null,"returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/delegations/status":{"put":{"tags":["Archiving & Delegations"],"summary":"Update Delegation Status","description":"Updates the status of an existing delegation (e.g., activate, deactivate, suspend).","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/archiving-delegations/put-api-v1-delegations-status","security":[{"BearerAuth":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"},"example":{"id":"e96ed7d6-60e3-4faf-a7d5-5ba5f860bb1a","status":1}}}},"responses":{"200":{"description":"Delegation status updated","content":{"application/json":{"example":{"data":true,"errorCode":0,"message":null,"returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/delegations/{id}":{"delete":{"tags":["Archiving & Delegations"],"summary":"Delete Delegation","description":"Deletes an existing delegation, removing the delegate's authority to act on behalf of the delegator.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/archiving-delegations/delete-api-v1-delegations-id","security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"description":"The unique identifier of the delegation to delete.","schema":{"type":"string"}}],"responses":{"200":{"description":"Delegation deleted","content":{"application/json":{"example":{"data":true,"errorCode":0,"message":null,"returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}},"409":{"description":"Delegation is active","content":{"application/json":{"example":{"data":true,"errorCode":0,"message":"","returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/signature-requests/bulk":{"post":{"tags":["Archiving & Delegations"],"summary":"Create Bulk Signature Request","description":"Create a bulk signature request job for mass document signing. Upload an Excel file or JSON array with signer details and documents to be processed.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/archiving-delegations/post-api-v1-signature-requests-bulk","security":[{"BearerAuth":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"},"example":{"templateId":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","signers":[{"name":"Ahmed Al-Rashid","nationalId":"1234567890","email":"ahmed@example.com","mobile":"+966501234567"},{"name":"Sara Al-Otaibi","nationalId":"0987654321","email":"sara@example.com","mobile":"+966507654321"},{"name":"Omar Al-Ghamdi","nationalId":"1122334455","email":"omar@example.com","mobile":"+966503334444"}],"notifyBy":"Both"}}}},"responses":{"200":{"description":"Bulk signature request created","content":{"application/json":{"example":{"data":{"jobId":"bulk-job-001-xyz","totalSigners":3,"status":"Processing","estimatedCompletion":"2024-01-15T10:30:00Z"},"errorCode":0,"message":"Bulk signature request created successfully"}}}}}}},"/api/v1/signature-requests/bulk/templates":{"post":{"tags":["Archiving & Delegations"],"summary":"Search Bulk Templates","description":"Search and filter available templates for use in bulk signature requests. Supports text search, category filtering, and pagination.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/archiving-delegations/post-api-v1-signature-requests-bulk-templates","security":[{"BearerAuth":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"},"example":{"searchTerm":"employment","category":"HR","page":1,"pageSize":10}}}},"responses":{"200":{"description":"Templates search results","content":{"application/json":{"example":{"data":{"templates":[{"templateId":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","name":"Employment Contract","category":"HR","signerCount":2},{"templateId":"b2c3d4e5-f6a7-8901-bcde-f12345678901","name":"Employment Offer Letter","category":"HR","signerCount":1}],"totalCount":5,"page":1},"errorCode":0,"message":"Success"}}}}}}},"/api/v1/reports/consumption":{"get":{"tags":["Reports & Requests"],"summary":"Get Consumption Report","description":"Retrieves a consumption report showing allocated resources and remaining capacity for your account.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/reports-requests/get-api-v1-reports-consumption","security":[{"BearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Consumption report","content":{"application/json":{"example":{"data":{"title":"Monthly Signature Requests","allocated":1000,"remaining":742},"errorCode":0,"message":null,"returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/reports/requests":{"post":{"tags":["Reports & Requests"],"summary":"Generate Requests Report","description":"Generate a detailed report of signing requests with filtering options. The report can be exported in various formats.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/reports-requests/post-api-v1-reports-requests","security":[{"BearerAuth":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"},"example":{"fromDate":"2025-05-14","toDate":"2025-05-16","UserId":null}}}},"responses":{"200":{"description":"Requests report generated","content":{"application/json":{"example":{"data":[{"id":"0a727241-a392-49c1-9fad-2551e5dc0cf9","status":"In-progress","statusValue":1,"createDate":"2025-05-16T01:42:47.003","signatories":[{"id":"64db64e6-a2db-4164-8a32-48daac19846d","signatureRequestId":"0a727241-a392-49c1-9fad-2551e5dc0cf9","status":"SIGNED","statusValue":3,"fullName":"Waleed","fullNameAr":"Waleed","nationalId":"","signOrder":0,"email":"cesowe2771@hazhab.com","phoneNumber":"","gender":"NONE","nationlity":"","signDate":"2025-05-16T01:51:19.377"},{"id":"59a130d7-5b4b-42e9-ba2d-9d6491c9437d","signatureRequestId":"0a727241-a392-49c1-9fad-2551e5dc0cf9","status":"SIGNED","statusValue":3,"fullName":"SALEM","fullNameAr":"سالم","nationalId":"000.....","signOrder":0,"email":"a.a@gmail.com","phoneNumber":"+96278000..","gender":"MALE","nationlity":"الاردن","signDate":null},{"id":"49f471d6-5fa6-4b21-b4aa-d97eea338ec4","signatureRequestId":"0a727241-a392-49c1-9fad-2551e5dc0cf9","status":"PENDING","statusValue":1,"fullName":"Hussein","fullNameAr":"       ","nationalId":"sadq-api-not pr","signOrder":0,"email":"a.a@gmail.com","phoneNumber":"","gender":"MALE","nationlity":"","signDate":null}],"documents":[{"id":"8f0648ba-2b67-4d0d-9686-1caf69da3dcf","signatureRequestId":"0a727241-a392-49c1-9fad-2551e5dc0cf9","fileName":"Test_1.pdf","uploadDate":"2025-05-16T01:42:46.923","sizeInKB":14,"isSigned":false}],"referenceNumber":"sadq-api-2025-20"}],"errorCode":0,"message":null,"returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}}}}},"/api/v1/requests/list":{"get":{"tags":["Reports & Requests"],"summary":"Get Requests List","description":"Retrieves a list of signature requests, optionally filtered by date range.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/reports-requests/get-api-v1-requests-list","security":[{"BearerAuth":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"},"example":{"FromDate":"2026-01-01","ToDate":"2026-02-01"}}}},"responses":{"200":{"description":"Requests list","content":{"application/json":{"example":{"data":[{"id":"63D7067F-BFA6-4599-A9D9-F3CEB24A80C6","status":"Completed","createDate":"2026-05-14T11:35:03.547","signatories":[{"id":"63D7067F-BFA6-4599-A9D9-F3CEB24A80C6","status":"SIGNED","fullName":"SALEM","fullNameAr":"سالم","nationalId":"0000...","signOrder":0,"email":"s.test@test","phoneNumber":"+96600000","gender":"MALE","nationlity":"الاردن","lastActionDate":null,"signingUrl":null},{"id":"63D7067F-BFA6-4599-A9D9-F3CEB24A80C6","status":"SIGNED","fullName":"ALAA  ALBADWAI","fullNameAr":"ALAA  ALBADWAI","nationalId":"9551058000","signOrder":0,"email":"A.A@Gmail.com","phoneNumber":"079999999","gender":"NONE","nationlity":"","lastActionDate":null,"signingUrl":null}],"referenceNumber":"Req-A-2026-343"},{"id":"9C800B06-618D-488C-8822-1DDB33286515","status":"In-progress","createDate":"2026-05-14T10:50:04.823","signatories":[],"referenceNumber":"Req-A-2026-342"},{"id":"79CD5372-5CB1-4C04-AEB4-4660761FA750","status":"Completed","createDate":"2026-05-14T10:42:54.897","signatories":[{"id":"79CD5372-5CB1-4C04-AEB4-4660761FA750","status":"SIGNED","fullName":"SALEM SALAH SALEM ABADAWI","fullNameAr":"سالم صلاح سالم البدوى","nationalId":"2307329983","signOrder":0,"email":"s.albadawi@sadq.sa","phoneNumber":"+966568684127","gender":"MALE","nationlity":"الاردن","lastActionDate":null,"signingUrl":null},{"id":"79CD5372-5CB1-4C04-AEB4-4660761FA750","status":"SIGNED","fullName":"Nubani","fullNameAr":"Nubani","nationalId":"","signOrder":0,"email":"a.n@test","phoneNumber":"","gender":"NONE","nationlity":"","lastActionDate":null,"signingUrl":null}],"referenceNumber":"Req-A-2026-341"}],"errorCode":0,"message":"Success","returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}}}}},"/api/v2/sign/digital":{"get":{"tags":["Sign"],"summary":"Digital Sign","description":"Sign documents using personal certificate with Nafath authentication","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/sign/get-api-v2-sign-digital","security":[{"BearerAuth":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"},"example":{"fileName":"string (required)","fileContent":"string (required, base64)","referenceNumber":"string (optional)","signres":[{"firstNameArabic":"string","firstNameEnglish":"string","secondNameArabic":"string","secondNameEnglish":"string","familyNameArabic":"string","familyNameEnglish":"string","nationalId":"string","mobileNumber":"string","emailAddress":"string","authType":"string ","appearance":{"isVisible":"boolean (default: true)","pageNumber":"string (default: 1)","fontSize":"number (default: 8)","x1":"number","y1":"number","width":"number","height":"number","appearanceImageBase64":"string (optional)","imageLocation":"number (0 or 1)"}}],"addAuditTrail":"boolean (required)"}}}},"responses":{"200":{"description":"Sign Successfully ","content":{"application/json":{"example":{"errorCode":"number","message":"string","data":{"documentId":"guid","envelopeId":"guid","referenceNumber":"string","signedFile":"string (base64)","auditTrailFile":"string (base64, nullable)","hasAuditTrail":"boolean","isAuditTrailSeparate":"boolean"}}}}}}}},"/api/v1/envelopes/bulk/initiate-and-invite":{"post":{"tags":["Envelopes"],"summary":"Envelope Creation & Signing Invitation Process","description":"The API provides a complete end-to-end digital document signing workflow in a single operation. It initiates a signature envelope by accepting the document content as a Base64-encoded string, and immediately creates the envelope while generating a unique envelope ID.\n\nIn the same process, the API also handles sending signing invitations to recipients. Each recipient receives a secure link via email or SMS, allowing them to review and sign the document electronically without requiring any additional API calls.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/envelopes/post-api-v1-envelopes-bulk-initiate-and-invite","security":[{"BearerAuth":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"},"example":{"Files":[{"File":"sadfsfsfr....","fileName":"PDF-File.pdf"}],"Destinations":[{"DestinationName":"Nubani","DestinationEmail":"ahmed.alnubani@gmail.com","DestinationPhoneNumber":"","SigneOrder":0,"Signatories":[],"AvailableTo":"2029-04-22T23:59:59Z","ConsentOnly":true,"AuthenticationType":0,"AllowUserToSignAnyWhere":false,"DailyNotify":false,"Escalation":null}],"SaveAsDraft":false}}}},"responses":{"200":{"description":"","content":{"application/json":{"example":{"errorCode":100,"message":"General Erorr","returnUrl":"/dashboard","stateValidationErrors":null,"signature":"","data":null}}}}}}},"/api/v1/requests/user-list":{"get":{"tags":["Reports & Requests"],"summary":"Request filter","description":"Get list of envelopes by filter","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/reports-requests/get-api-v1-requests-user-list","security":[{"BearerAuth":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"},"example":{"pageNumber":1,"pageSize":10,"fromDate":null,"toDate":null,"search":null,"isCompleted":null,"isRejected":null,"isNeedYourSign":null,"requestStatus":null}}}},"responses":{"200":{"description":"Sucess","content":{"application/json":{"example":{"signatureRequestList":[{"requestId":"6f1c2a8b-3d9e-4f1a-9c2e-123456789abc","fileId":"9b2d7f44-1c88-4d5b-8a77-abcdef123456","fileName":"Contract.pdf","title":"Employment Contract","userEmail":"user@example.com","userFirstName":"Ahmad","lastName":"Khaled","destination":"Internal User","destinationName":"Ahmad Khaled","destinationPhone":"+962790000000","destinationNationalId":"1234567890","destinationType":1,"destinationTypeText":"Signer","destinationStatus":2,"destinationStatusText":"Pending","creatorFirstName":"Sara","creatorLastName":"Omar","signers":"Ahmad Khaled,Mohammad Ali","status":2,"statusText":"Pending","isCompleted":false,"isSignedByUser":false,"isReject":false,"rejectionReason":null,"createDate":"2026-06-01T10:15:30Z","statusChangeDate":"2026-06-01T10:15:30Z","availableTo":"2026-06-10T23:59:59Z","originalAvailableTo":"2026-06-10T23:59:59Z","userOnlySigner":false,"isCC":false,"isUserSignOrder":true,"authenticationType":1,"randomId":"ABC123XYZ","completionRatio":50,"quorumCount":2,"allowExternalRecipientToViewSignerMap":true,"allowContinueOnRejection":false,"workflowId":"11111111-2222-3333-4444-555555555555","referenceNumber":"REF-2026-0001","isForExternalWorkFlow":false,"isFromIntegration":true,"source":1,"metadataTemplateId":"aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee","categoryId":"ffffffff-1111-2222-3333-444444444444","tags":"HR,Contract","messageCount":3,"hasUnseenMessages":true,"files":[{"fileId":"9b2d7f44-1c88-4d5b-8a77-abcdef123456","fileName":"Contract.pdf","requestId":"6f1c2a8b-3d9e-4f1a-9c2e-123456789abc","fileSize":245760,"fileOrder":1,"fileCreatorName":"Sara Omar","extension":".pdf","isPasswordProtected":false,"metadataTemplateId":"aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee","categoryId":"ffffffff-1111-2222-3333-444444444444","categoryName":"Contracts"}]}],"totalCount":1}}}}}}},"/api/v1/reports/requests-by-destinations":{"post":{"tags":["Reports & Requests"],"summary":"Requests by Destinations Report","description":"Returns a paginated report of signature requests broken down by individual destination (signer/reviewer/creator). Each row\n  represents one destination's activity on a request, including the creator details, destination name, contact info, destination\n  type and status, action/delivery dates, execution duration, and a direct signing URL. Supports filtering by request status,\n  destination status, destination type, reference number, creator, search term, and date ranges (created, actioned, completed).\n  Also returns aggregate totals across the result set.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/reports-requests/post-api-v1-reports-requests-by-destinations","security":[{"BearerAuth":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"},"example":{"createdFromDate":"2025-06-06T12:59:47.005Z","createdToDate":"2026-06-09T12:59:47.005Z","destinationStatus":null,"destinationType":null,"pageNumber":1,"pageSize":10,"requestStatus":null}}}},"responses":{"200":{"description":"","content":{"application/json":{"example":{"data":{"totalCount":2,"dataList":[{"requestId":"42ae7c04-9c0b-49ce-a4c1-af5363f7c096","referenceNumber":"Req-staging-2026-6393","createdDate":"2026-05-12T12:33:14.923","completedDate":"2026-05-12T09:35:06.983","requestStatus":5,"requestStatusName":"Completed","creatorName":"Nuha Taha","numberOfFiles":1,"filesNames":"Test_1.pdf","destinationEmail":"example@email.com","destinationTypeName":"Signer","destinationStatusName":"Signed","destinationName":"Sample User","numberOfSigners":2,"signingUrl":"http://example.com/sign/abc123"}],"totals":{"totalRequests":1,"totalNumberOfSigners":2,"totalSignedDestinations":2,"totalCompletedRequests":1}},"errorCode":0,"message":null}}}}}}},"/api/v1/webhooks/logs":{"get":{"tags":["Webhooks"],"summary":"Get Webhook Logs","description":"Retrieve delivery logs for webhook events including request/response details and failure information for troubleshooting.","deprecated":false,"x-docs-url":"https://docs.sadq.sa/docs/webhooks/get-api-v1-webhooks-logs","security":[{"BearerAuth":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"},"example":{"requestId":"","webhookUrl":"","webhookStatus":null}}}},"responses":{"200":{"description":"","content":{"application/json":{"example":{"data":[{"requestId":"D019910D-8831-481F-B491-0D09F9443D8D","createdDate":"2026-01-04T11:22:19.993","webhookStatus":"FAILEDFROMCLIENT (4)","httpStatusCode":404,"webhookUrl":"https://webhook.site/0e69f910-6c36-487a-aa09","reasons":""}],"errorCode":0,"message":null,"returnUrl":"/dashboard","stateValidationErrors":null,"signature":""}}}}}}}},"components":{"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}},"x-enum-groups":[{"id":"enum-1779092035465","name":"Authentication Type","description":"Authentication methods available for signature requests and user verification.","entries":[{"value":"0","name":"None","description":"No authentication is required."},{"value":"1","name":"Nafath KYC","description":"Users authenticate through Nafath for the first time then will be login with Sadq credentials"},{"value":"2","name":"SMS","description":"An OTP is sent via SMS to verify the user's identity."},{"value":"3","name":"Email","description":"An OTP is sent via email for authentication."},{"value":"5","name":"DigitalSign","description":"For Digital signature authentication for documents Only"},{"value":"7","name":"Nafath App","description":"Authentication through the Nafath mobile application every time"},{"value":"9","name":"Absher OTP","description":"Users authenticate using an OTP from the Absher platform."},{"value":"10","name":"WhatsApp","description":"An authentication OTP is sent to WhatsApp."}],"createdAt":"2026-05-18T08:13:55.465Z","updatedAt":"2026-05-18T08:26:39.952Z"},{"id":"enum-1779092832548","name":"Field Type","description":"Types of fields available in documents for signatures and data entry.","entries":[{"value":"Signature","name":"Signature","description":"Represents a signature field for capturing and displaying signatures."},{"value":"initial","name":"Intial","description":"Represents an Initial field for capturing and displaying initials."},{"value":"stamp","name":"Stamp","description":"Represents a stamp field for capturing and displaying stamps."},{"value":"signDate","name":"SignDate","description":"Auto-populated with the signing date when the recipient signs."},{"value":"radio","name":"Radio button","description":"Radio button field for single-choice selections."},{"value":"checkbox","name":"Checkbox","description":"Checkbox field for multiple-choice selections."},{"value":"TextField","name":"TextField","description":"Text input field for entering custom text."}],"createdAt":"2026-05-18T08:27:12.548Z","updatedAt":"2026-05-18T08:30:09.995Z"},{"id":"enum-1779093119372","name":"Webhook Status","description":"Status values for envelope via webhook.","entries":[{"value":"1","name":"Success","description":"Envelope is completed"},{"value":"2","name":"Rejected","description":"Envelope has been rejected"}],"createdAt":"2026-05-18T08:31:59.372Z","updatedAt":"2026-05-18T08:34:00.934Z"},{"id":"enum-1779093217136","name":"Webhook log Status","description":"Status values for webhook delivery.","entries":[{"value":"0","name":"PENDING","description":"Webhook is pending delivery"},{"value":"1","name":"SUCCESS","description":"Webhook delivered successfully"},{"value":"2","name":"RECALL","description":"Webhook was recalled/retried"},{"value":"4","name":"FAILEDFROMCLIENT","description":"Delivery failed at client endpoint"}],"createdAt":"2026-05-18T08:33:37.136Z","updatedAt":"2026-05-18T08:34:44.601Z"},{"id":"enum-1779093318127","name":"Gender","description":"Gender identification values.","entries":[{"value":"1","name":"Male","description":""},{"value":"2","name":"Female","description":""},{"value":"3","name":"Other","description":""},{"value":"4","name":"Don't Exposed","description":""}],"createdAt":"2026-05-18T08:35:18.127Z","updatedAt":"2026-05-18T08:35:45.560Z"},{"id":"enum-1779093366817","name":"SMS Provider Type","description":"Available SMS service providers.","entries":[{"value":"1","name":"Imissive","description":""},{"value":"2","name":"Msegat","description":""},{"value":"3","name":"Unifonic","description":""},{"value":"4","name":"FourJawaly","description":""},{"value":"5","name":"InfinitoProvider","description":""}],"createdAt":"2026-05-18T08:36:06.817Z","updatedAt":"2026-05-18T08:36:39.620Z"},{"id":"enum-1779093409202","name":"Text Alignment Type","description":"Text alignment options for document fields.","entries":[{"value":"0","name":"AlignLeft","description":""},{"value":"1","name":"AlignCenter","description":""},{"value":"2","name":"AlignRight","description":""}],"createdAt":"2026-05-18T08:36:49.202Z","updatedAt":"2026-05-18T08:37:10.187Z"},{"id":"enum-1779093443218","name":"Destination Type","description":"Types of recipients in signature workflows.","entries":[{"value":"0","name":"Creator","description":""},{"value":"1","name":"Signer","description":""},{"value":"2","name":"CC","description":""},{"value":"3","name":"Reviewer","description":""},{"value":"4","name":"Department","description":""}],"createdAt":"2026-05-18T08:37:23.218Z","updatedAt":"2026-05-18T08:38:01.593Z"},{"id":"enum-1779093502377","name":"Invitation Language","description":"Language options for invitation emails and SMS.","entries":[{"value":"1","name":"Arabic ","description":"Send invitation in Arabic language"},{"value":"2","name":"English ","description":"Send invitation in English language"}],"createdAt":"2026-05-18T08:38:22.377Z","updatedAt":"2026-05-18T08:38:43.481Z"},{"id":"enum-1779093540131","name":"ID Types","description":"Types of identification documents.","entries":[{"value":"1","name":"National ID Card","description":""},{"value":"2","name":"Resident ID","description":""},{"value":"3","name":"Passport","description":""}],"createdAt":"2026-05-18T08:39:00.131Z","updatedAt":"2026-05-18T08:39:23.745Z"},{"id":"enum-1779093573463","name":"File Template Share Type","description":"Sharing visibility options for file templates.","entries":[{"value":"0","name":"Private ","description":" Template is private to the creator"},{"value":"1","name":"Public ","description":"Template is publicly accessible"},{"value":"2","name":"Shared ","description":"Template is shared with specific users"}],"createdAt":"2026-05-18T08:39:33.463Z","updatedAt":"2026-05-18T08:40:04.094Z"},{"id":"enum-1779093621013","name":"Document/Request Status","description":"Common status values for documents and signature requests.","entries":[{"value":"0","name":"Pending","description":"Waiting for action"},{"value":"1","name":"In Progress","description":"One or more signers have started"},{"value":"2","name":"Completed","description":"All required signers have completed"},{"value":"3","name":"Cancelled","description":"Request was cancelled"},{"value":"4","name":"Rejected","description":"One or more signers declined"},{"value":"5","name":"Expired","description":"Request expired before completion"}],"createdAt":"2026-05-18T08:40:21.013Z","updatedAt":"2026-05-18T08:41:44.683Z"},{"id":"enum-1779093771484","name":"Permissions","description":"Available system permissions for user access control.","entries":[{"value":"1","name":"ViewAccounts","description":"View account information"},{"value":"2","name":"AddAccount","description":"Create new accounts"},{"value":"3","name":"UpdateAccount","description":"Modify existing accounts"},{"value":"4","name":"ViewUsers","description":"View user information"},{"value":"5","name":"AddUser","description":"Create new users"},{"value":"6","name":"UpdateUser","description":"Modify existing users"},{"value":"7","name":"DeleteUser","description":"Remove users from the system"},{"value":"8","name":"DeleteAccount","description":"Remove accounts from the system"},{"value":"9","name":"UpdateConfiguration","description":"Modify system configuration"},{"value":"10","name":"UploadFile","description":"Upload files to the system"},{"value":"11","name":"ViewSignatureRequestList","description":"View list of signature requests"},{"value":"12","name":"ViewDocumentSigners","description":"View signers of a document"},{"value":"13","name":"DownloadFile","description":"Download files from the system"},{"value":"14","name":"UploadContent","description":"Upload content to the system"},{"value":"15","name":"ReInviteUser","description":"Resend invitations to users"},{"value":"16","name":"UpdateUserPermission","description":"Modify user permissions"},{"value":"17","name":"DeleteSignatureRequest","description":"Remove signature requests"},{"value":"18","name":"ShareUsingWhatsApp","description":"Share documents via WhatsApp"},{"value":"19","name":"ViewUserDelegations","description":"View delegation information"},{"value":"20","name":"AddUserDelegations","description":"Create new delegations"},{"value":"22","name":"AdminDashboard","description":"Access admin dashboard"},{"value":"23","name":"AddConfigurationAdmin","description":"Add system configuration (admin only)"},{"value":"24","name":"UpdateConfigurationAdmin","description":"Update system configuration (admin only)"},{"value":"25","name":"GetConfiguration","description":"Retrieve configuration settings"},{"value":"26","name":"GenerateTemplates","description":"Create document templates"},{"value":"27","name":"ViewBranding","description":"View branding settings"},{"value":"28","name":"UpdateBranding","description":"Modify branding settings"},{"value":"29","name":"ViewDepartments","description":"View department information"},{"value":"30","name":"AddDepartment","description":"Create new departments"},{"value":"31","name":"UpdateDepartment","description":"Modify existing departments"},{"value":"32","name":"DeleteDepartment","description":"Remove departments"},{"value":"33","name":"ViewDepartmentDocumentsList","description":"View documents in a department"},{"value":"34","name":"AddAndUseStamp","description":"Add and apply stamps to documents"},{"value":"35","name":"AddUserToDepartment","description":"Assign users to departments"},{"value":"36","name":"AddDepartmentForUser","description":"Assign departments to users"},{"value":"37","name":"SignatureRequestToDepartments","description":"Send signature requests to departments"},{"value":"38","name":"BulkSend","description":"Send bulk signature requests"},{"value":"39","name":"ViewTemplates","description":"View document templates"},{"value":"40","name":"SendDocumentUsingEmail","description":"Send documents via email"},{"value":"41","name":"SendDocumentUsingSMS","description":"Send documents via SMS"},{"value":"42","name":"SendDocumentUsingNafath","description":"Send documents via Nafath"},{"value":"43","name":"SendDocumentUsingEmdah","description":"Send documents via Emdah"},{"value":"44","name":"SigningOnBehalfOfCompany","description":"Sign documents as company representative"},{"value":"45","name":"ChangeEmail","description":"Modify user email address"},{"value":"46","name":"ChangePhone","description":"Modify user phone number"},{"value":"47","name":"SendDocumentUsingNafathApp","description":"Send documents via Nafath App"},{"value":"48","name":"AddGroupUsers","description":"Create user groups"},{"value":"49","name":"ManageRoles","description":"Manage user roles"},{"value":"50","name":"WhatsApp","description":"WhatsApp integration access"},{"value":"51","name":"ConsumptionReport","description":"View consumption reports"},{"value":"52","name":"RequestReport","description":"View request reports"},{"value":"53","name":"ShowArchivingTab","description":"Access archiving features"},{"value":"54","name":"CreateFolderOrFile","description":"Create folders and files in archive"},{"value":"55","name":"DeleteFolderOrFile","description":"Remove folders and files from archive"},{"value":"56","name":"ShareFolderOrFile","description":"Share archived folders and files"},{"value":"57","name":"MoveFolderOrFile","description":"Move folders and files in archive"},{"value":"58","name":"ShowStorageUsed","description":"View storage usage information"},{"value":"62","name":"Escalation","description":"Escalate signature requests"},{"value":"63","name":"SendDocumentUsingPinCode","description":"Send documents with PIN code authentication"},{"value":"64","name":"UserDeleteHisProfile","description":"Allow users to delete their own profiles"},{"value":"65","name":"CommercialInquiryHistory","description":"View commercial inquiry history"},{"value":"66","name":"RestoreSignatureRequest","description":"Restore deleted signature requests"},{"value":"67","name":"DeleteSignatureRequestPermanently","description":"Permanently remove signature requests"},{"value":"68","name":"SendDocumentUsingAbsher","description":"Send documents via Absher"},{"value":"69","name":"SelfSign","description":"Sign documents as the creator"},{"value":"70","name":"SignatureRequestKPI","description":"View signature request KPIs"},{"value":"71","name":"AnalyzeDocumentsByAI","description":"Use AI to analyze documents"},{"value":"72","name":"Watermark","description":"Add watermarks to documents"},{"value":"73","name":"EmailTemplateConfiguration","description":"Configure email templates"},{"value":"74","name":"ConsumptionMonthlyReport","description":"View monthly consumption reports"},{"value":"75","name":"ManageAccountRejectionReason","description":"Manage rejection reasons"},{"value":"76","name":"UpdatePasswordConfiguration","description":"Modify password policies"},{"value":"79","name":"EditAndPreviewDesignPages","description":"Edit and preview page designs"},{"value":"80","name":"UseOrganizationStamp","description":"Apply organization stamps"},{"value":"81","name":"ViewRequestsByDestinationsReport","description":"View destination reports"},{"value":"82","name":"EditWebhooks","description":"Edit webhook configurations"},{"value":"83","name":"DeleteWebhooks","description":"Delete webhooks"},{"value":"84","name":"ViewWebhooksReports","description":"View webhook reports"},{"value":"85","name":"ViewWebhooks","description":"View webhooks"},{"value":"86","name":"AddWebhooks","description":"Add new webhooks"},{"value":"87","name":"Metadata","description":"Manage document metadata"},{"value":"88","name":"ViewAuditLog","description":"View audit logs"},{"value":"89","name":"SmartTasksFromRequests","description":"Create smart tasks from requests"},{"value":"90","name":"DailyRequestSummary","description":"View daily request summary"},{"value":"91","name":"NotifyMeAboutKeyEmails","description":"Receive notifications for key emails"},{"value":"92","name":"SmartSignaturePrioritization","description":"Enable smart signature prioritization"},{"value":"93","name":"ViewAiTokenConsumptionReport","description":"View AI token consumption"},{"value":"94","name":"AddRenewal","description":"Add renewal requests"},{"value":"95","name":"GenerateDocumentWithAI","description":"Generate documents using AI"},{"value":"96","name":"Manage2FA","description":"Manage two-factor authentication"},{"value":"97","name":"MetadataAutomation","description":"Automate metadata extraction"},{"value":"98","name":"WordSearch","description":"Search within document content"},{"value":"99","name":"CreateRoom","description":"Create collaboration rooms"},{"value":"100","name":"ManageRoomsCustomPermissions","description":"Manage room custom permissions"},{"value":"101","name":"CreateContract","description":"Create contracts"},{"value":"106","name":"ApproveReview","description":"Approve contract reviews"},{"value":"109","name":"ManagePlaybook","description":"Manage contract playbooks"},{"value":"110","name":"ViewWorkflow","description":"View contract workflows"},{"value":"111","name":"ManageWorkflow","description":"Manage contract workflows"},{"value":"113","name":"FillContractUsingAI","description":"Fill contracts using AI"},{"value":"115","name":"WorkflowPage","description":"Access workflow page"}],"createdAt":"2026-05-18T08:42:51.484Z","updatedAt":"2026-05-18T08:49:31.602Z"},{"id":"enum-1780615299712","name":"Request status ","description":"Request status filter ","entries":[{"value":"1","name":"Pending","description":"Get pending requests"},{"value":"5","name":"Completed","description":"Get Completed requests"},{"value":"7","name":"Waiting Signature","description":"Get Waiting Signature requests"},{"value":"6","name":"Rejected","description":"Get Rejected requests"},{"value":"2","name":"Voided","description":"Get canceled requests"},{"value":"8","name":"Expired","description":"Get Expired requests"},{"value":"9","name":"Drafts","description":"Get Drafts requests"},{"value":"10","name":"Recycle Bin","description":"Get deleted requests and moved to Recycle Bin"}],"createdAt":"2026-06-04T23:21:39.712Z","updatedAt":"2026-06-09T13:15:06.897Z"},{"id":"enum-1781010733279","name":"Destination Status","description":"Status Value for destination","entries":[{"value":"1","name":"Pending","description":"destinations who did not sign the document"},{"value":"3","name":"Signed","description":"destinations who signed the document"},{"value":"4","name":" Rejected ","description":"destinations who reject the document"},{"value":"7","name":"Expired","description":"destinations the document date is expired for them"}],"createdAt":"2026-06-09T13:12:13.279Z","updatedAt":"2026-06-09T13:14:47.560Z"}],"x-error-codes":[{"id":"err-1779094385039","code":"0","name":"Success","description":"Success","createdAt":"2026-05-18T08:53:05.039Z","updatedAt":"2026-05-18T08:53:05.039Z"},{"id":"err-1779094470570","code":"4","name":"InvalidUserNameOrPassword","description":"Invalid User Name Or Password","createdAt":"2026-05-18T08:54:30.570Z","updatedAt":"2026-05-18T08:54:30.570Z"},{"id":"err-1779094470573","code":"8","name":"ValidationError","description":"Validation Error","createdAt":"2026-05-18T08:54:30.573Z","updatedAt":"2026-05-18T08:54:30.573Z"},{"id":"err-1779094470583","code":"1","name":"SessionTimeOut","description":"Session Time Out","createdAt":"2026-05-18T08:54:30.583Z","updatedAt":"2026-05-18T08:54:30.583Z"},{"id":"err-1779094470585","code":"9","name":"BadRequest","description":"Bad Request","createdAt":"2026-05-18T08:54:30.585Z","updatedAt":"2026-05-18T08:54:30.585Z"},{"id":"err-1779094470588","code":"10","name":"InvalidFileIdorRequestId","description":"Invalid File ID or Request ID","createdAt":"2026-05-18T08:54:30.588Z","updatedAt":"2026-05-18T08:54:30.588Z"},{"id":"err-1779094470624","code":"7","name":"RequestDoesnotHasFormContentType","description":"Request Does not Have Form Content Type","createdAt":"2026-05-18T08:54:30.624Z","updatedAt":"2026-05-18T08:54:30.624Z"},{"id":"err-1779094470658","code":"19","name":"ForbidenRequest","description":"Forbidden Request","createdAt":"2026-05-18T08:54:30.658Z","updatedAt":"2026-05-18T08:54:30.658Z"},{"id":"err-1779094470660","code":"18","name":"ChangePasswordEmailExpired","description":"Change Password Email Expired","createdAt":"2026-05-18T08:54:30.660Z","updatedAt":"2026-05-18T08:54:30.660Z"},{"id":"err-1779094470700","code":"3","name":"UnAuthrized","description":"Unauthorized","createdAt":"2026-05-18T08:54:30.700Z","updatedAt":"2026-05-18T08:54:30.700Z"},{"id":"err-1779094470703","code":"5","name":"UserAlreadyExsit","description":"User Already Exists","createdAt":"2026-05-18T08:54:30.703Z","updatedAt":"2026-05-18T08:54:30.703Z"},{"id":"err-1779094470705","code":"13","name":"DestinationNotFound","description":"Destination Not Found","createdAt":"2026-05-18T08:54:30.705Z","updatedAt":"2026-05-18T08:54:30.705Z"},{"id":"err-1779094470726","code":"14","name":"UnauthorizedRequest","description":"Unauthorized Request","createdAt":"2026-05-18T08:54:30.726Z","updatedAt":"2026-05-18T08:54:30.726Z"},{"id":"err-1779094470734","code":"15","name":"UserAlreadySigneDocument","description":"User Already Signed Document","createdAt":"2026-05-18T08:54:30.734Z","updatedAt":"2026-05-18T08:54:30.734Z"},{"id":"err-1779094470737","code":"16","name":"ContentIsEmpty","description":"Content Is Empty","createdAt":"2026-05-18T08:54:30.737Z","updatedAt":"2026-05-18T08:54:30.737Z"},{"id":"err-1779094470779","code":"17","name":"InvalidChangePasswordToken","description":"Invalid Change Password Token","createdAt":"2026-05-18T08:54:30.779Z","updatedAt":"2026-05-18T08:54:30.779Z"},{"id":"err-1779094470785","code":"12","name":"DestinationBelongtoAnotherUser","description":"Destination Belongs to Another User","createdAt":"2026-05-18T08:54:30.785Z","updatedAt":"2026-05-18T08:54:30.785Z"},{"id":"err-1779094470788","code":"11","name":"UserMustWaitForOtherToSigne","description":"User Must Wait For Other To Sign","createdAt":"2026-05-18T08:54:30.788Z","updatedAt":"2026-05-18T08:54:30.788Z"},{"id":"err-1779094470812","code":"20","name":"FirstLogin","description":"First Login","createdAt":"2026-05-18T08:54:30.812Z","updatedAt":"2026-05-18T08:54:30.812Z"},{"id":"err-1779094470814","code":"21","name":"SignFaild","description":"Sign Failed","createdAt":"2026-05-18T08:54:30.814Z","updatedAt":"2026-05-18T08:54:30.814Z"},{"id":"err-1779094470833","code":"22","name":"UnvalidCertificatePassword","description":"Invalid Certificate Password","createdAt":"2026-05-18T08:54:30.833Z","updatedAt":"2026-05-18T08:54:30.833Z"},{"id":"err-1779094470859","code":"23","name":"ThirdPartySignServiceError","description":"Third Party Sign Service Error","createdAt":"2026-05-18T08:54:30.859Z","updatedAt":"2026-05-18T08:54:30.859Z"},{"id":"err-1779094470865","code":"24","name":"DisabledAccount","description":"Di
[...]
